body {
	background-image: url("images/water.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	color:yellow;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

td {
	width:100px;
	text-align:center;
	border:3px solid black;
	border-radius:10px;
	background-color:yellow;
	border-style:ridge;
}